a , label { cursor: pointer;}
.tk-align-left { text-align: left!important;}
.tk-tag { margin: 0 5px;}
.item-card h2 { clear: none!important;}
#logo { line-height: 36px;}
.font-red { color: #e93a3a;}
.font-small { font-size: 14px;}
.ml10 { margin-left: 10px;}

.tk-index-table a { color: #333333!important;}
.detail-box .row { border-left: solid 1px #ddd; border-top: solid 1px #ddd;}
.detail-box .row:last-child { border-bottom: solid 1px #ddd;}
.detail-box .row div { border-right: solid 1px #ddd;}
.form-group select { height: 34px; min-width: 80px; border: solid 1px #bdc4c9;}
.mapbody{width:100%; height:600px; float:left; padding:20px 20% 20px 20px;}
.abc{background: url(../img/daysView-bg.jpg);
	background-size:100% 100%;background-repeat:repeat-y;
 }