#content-wrapper{min-height: 1000px;}
.yijihuo{color: #006611;}
.shenhe{color: #FF0000;}
#companybiaoqian .nav-pills > li {float: left ;}
.addtext{line-height: 34px;}
.postAddUserBut{width: 100px;}
.xiugai{line-height:20px;padding-top: 7px; float: left;}
#pms_info .modal-dialog{margin-top: 100px;}
#pms_info small{margin-left: 20px;}
#pms_info .col-lg-6,#pms_info .col-lg-5{padding-left: 0px;padding-right: 0px;}