#content-wrapper{min-height: 1000px;}
.jihuo h2,.jihuo p{text-align: center;}
.jihuo h2{margin-top: 10px !important;}
.jihuo p{font-size: 30px;}
.no-padding-left{padding-left: 0px;}
.index-main-box span{ color: #FF0000;}
